<script src="https://maps.googleapis.com/maps/api/js"></script>
  <nav class="navbar navbar-transparent stay-fixed" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="" />
          Oy'ster
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active" data-toggle-header-sections-menu>
<!--             <a href="#">
              Theme demos
              <i class="ion-plus"></i>
            </a> -->
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Sustainability
              <i class="ion-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://www.ecsga.org/Pages/Sustainability/CultureBenefits.htm">East Coast Shellfish Growers</a></li>
              <li><a href="https://oysterrecovery.org/sra/">Oyster Recovery Partnership</a></li>
              <li><a href="">Restaurant</a></li>
             <!--  <li class="divider"></li>
              <li><a href="index-mobile.html">App showcase</a></li>
              <li><a href="index-mobile-2.html">App showcase 2</a></li>
              <li><a href="index-mobile-3.html">App showcase 3</a></li>
              <li><a href="index-mobile-4.html">App showcase 4</a></li> -->
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              All Oysters
              <i class="ion-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="blog.html">Bald Point</a></li>
              <li><a href="blog-3-cols.html">Kumamoto</a></li>
              <li><a href="blog-grid.html">Kusshi</a></li>
              <li><a href="blog-post-alt.html">Narragansett</a></li>
              <li><a href="blog-post-3.html">Wellfleet</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Members
              <i class="ion-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="pricing.html">Badges</a></li>
              <li><a href="pricing-charts.html">Rewards</a></li>
              <li><a href="careers.html">Reviews</a></li>
              <li class="divider"></li>
              <li><a href="/signup">Sign up</a></li>
              <li><a href="/login">Sign in</a></li>
              <li><a href="recover-password.html">Recover password</a></li>
            </ul>
          </li>
          <li><a href="theme-docs.html" class="rounded">Join Oy'ster</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="business-hero">
    <div class="container">
      <h2>
        Let yourself be silent drawn by the straight pull of what you really love. 
      </h2>
      <p>
        -Rumi
      </p>

      <div class="actions">
        <a href="/signup" class="btn-pill btn-pill btn-pill-lg-default">Join Oy'ster

        </a>
      </div>
    </div>
  </div>

  <div class="agency-portfolio">
    <div class="container">
      <h2>
        Welcome to Oy'ster
      </h2>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="/newreview" class="project">
            <span class="mask">
              <span class="info">
                <h3>Post a Review</h3>
                <p>
                  Share your experience.
                </p>
              </span>
              <span class="btn-see-project">
                Post
              </span>
            </span>
            <span style="background-image:url('images/unsplash/photo-1478059425650-ca13d6d422f4.jpeg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Find a Restaurant</h3>
                <p>
                  Explore restaurants others have visited.
                </p>
              </span>
              <span class="btn-see-project">
                See restaurants
              </span>
            </span>
            <span style="background-image:url('images/project/shot-3.png');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="" class="project">
            <span class="mask">
              <span class="info">
                <h3>Oy'ster Matcher</h3>
                <p>
                  Get matched with the perfect oyster for you.
                </p>
              </span>
              <span class="btn-see-project">
                Get Matched
              </span>
            </span>
            <span style="background-image:url('images/unsplash/photo-1467659226669-a1360d97be2d.jpeg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Earn Rewards</h3>
                <p>
                  Post reivews. Earn rewards 
                </p>
              </span>
              <span class="btn-see-project">
                See rewards
              </span>
            </span>
            <span style="background-image:url('images/unsplash/photo-1474843148229-3163319fcc4c.jpeg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>About Oy'ster</h3>
                <p>
                  What is this site all about?
                </p>
              </span>
              <span class="btn-see-project">
                See about
              </span>
            </span>
            <span style="background-image:url('images/unsplash/photo-1470274038469-958113db2384.jpeg');" class="pic">
            </span>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Oysters not for you?</h3>
                <p>
                   
                </p>
              </span>
              <span class="btn-see-project">
                Click here
              </span>
            </span>
            <span style="background-image:url('images/project/shot-2.png');" class="pic">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>



  <div class="spacial-features">
    <section class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header">
            <h2>Welcome to Oy'ster</h2>
            <p>
              We are a community of individuals who enjoy life on the half shelf. Enjoy! 
            </p>
          </div>
        </div>
      </div>

      <div class="features-grid">
        <div class="row">
          <div class="col-sm-6">
            <div class="feature">
              <a href="/newreview"><img src="/images/shell.png">
              <h3>
                Post a Review 
              </h3>
              <p>
                Share your experience. 
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature">
              <a href="/restaurantsall"><img src="images/shell.png">
              <h3>
                Find a Restaurant 
              </h3>
              <p>
                Explore restaurants others have visited.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="feature">
              <a href="/oysterroulette"><img src="images/shell.png">
              <h3>
                Oyster Matcher 

                <span class="badge-new">New</span>
              </h3>
              <p>
                Get matched with the perfect oyster for you. 
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature">
              <a href ="/userrewards"><img src="images/shell.png">
              <h3>
                Earned Rewards
              </h3>
              <p>
                Post reviews and earn rewards.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<div id="app">
</div>
<div id="map"></div>
<a href="https://icons8.com/web-app/1525/Shellfish">Shellfish icon credits</a>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="title">
            About Oy'ster
          </div>
          <ul class="menu">
            <li>
              <a href="#">Home Pages</a>
            </li>
            <li>
              <a href="#">Theme Features</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="title">
            Connect with us
          </div>
          <ul class="menu">
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
                Instagram
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
                Twitter
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
                Facebook
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 newsletter">
          <div class="title">
            Get awesome updates
          </div>
          <p>
            Enter your email address for news and rewards.
          </p>

          <form action="#">
            <input type="email" class="form-control" placeholder="Email address" />

            <button type="submit">
              <i class="fa fa-chevron-right"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="bottom">
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Language</a></li>
        </ul>
      </div>
    </div>
  </footer>

<!-- <div class="container">
  <h1>Oy'ster</h1> -->
<!--   <a href="/login">Login</a>
  <div><a href="/logout">Log Out</div> -->
<!--   <div><a href="/newreview">Create a new review</div> -->
<!--   <h2>Restaurants</h2>
  <% @restaurants.each do |restaurant| %>
  <h4><a href="restaurants/<%= restaurant.id %>"><%=restaurant.name%></a><h4>
  <p><%=restaurant.address%></p>
  <p><%=restaurant.hours%></p>
  <p><%=restaurant.specials%></p>
  <% end %> -->

  



  