<h1>Oy'ster</h1>
<div><a href="/signup">Sign Up!</a></div>
<a href="/login">Login</a>
<div><a href="/logout">Log Out</div>
<div><a href="/newreview">Create a new review</div>
<h2>Restaurants</h2>
<% @restaurants.each do |restaurant| %>
<h4><a href="restaurants/<%= restaurant.id %>"><%=restaurant.name%></a><h4>
<p><%=restaurant.address%></p>
<p><%=restaurant.hours%></p>
<p><%=restaurant.specials%></p>
<% end %>


<h3>Restaurants</h3>

 <div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js" async defer></script>
