<h1><%=@restaurant.name%></h1>
<!-- <p><%=@restaurant.oyster_review[0].title%></p>
<p><%=@restaurant.oyster_review[1].title%></p> -->

<% @restaurant.oyster_review.each do |review| %> 
<h4><%= review.title %></h4>
<p><%= review.body %></p>
<% end %> 
